@font-face {
	font-family: 'Arial';
	src: url(../../assets/fonts/Arial.eot) format('embedded-opentype'),
	url(../../assets/fonts/Arial.woff) format('woff'),
	url(../../assets/fonts/Arial.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}