@font-face {
	font-family: 'Shadow of the deads Over';
	src: url(../../assets/fonts/ShadowofthedeadsOver.woff2) format('woff2'),
	url(../../assets/fonts/ShadowofthedeadsOver.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}